{% extends 'base.html.twig' %}


{% block body %}

    <div class="img-wrapper">
        <h2>SS23 FROM NOWHERE</h2>
        <a href="{{ path('app_shop') }}">SHOP NOW <i class="fa-solid fa-arrow-right"></i></a>
    </div>

{% endblock %}
